h1{
    color: red;
    text-align: center;
}

#time{
    background-color: #a83287;
    color: aqua;
    padding: 50px;
    font-size: xx-large;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 35%;
    margin: auto;
}

.student_form{
    margin-left:  40%;
    width: 200px;
    height: 150px;
    margin-bottom: 150px;
    background-color: #a83287;
}